<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../public/stylesheets/style.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-900 p-10 text-white">
      <h1 class="text-3xl font-bold mb-4">Login User</h1>
      <form
        action="/login"
        method="post"
      >
        <input
          class="block px-5 py-2 bg-zinc-700 rounded-lg mb-5"
          type="email"
          name="email"
          placeholder="Enter your email"
        />
        <input
          class="block px-5 py-2 bg-zinc-700 rounded-lg mb-5"
          type="password"
          name="password"
          placeholder="Enter your password"
        />
        <input
          class="block p-2 bg-blue-900 rounded-lg mb-5"
          type="submit"
          value="Submit"
        />
      </form>
    </div>

    <script src="../public/javascripts/index.js"></script>
  </body>
</html>
