<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="/stylesheets/styles.css"
    />
  </head>
  <body>
    <div class="main w-full bg-zinc-900 min-h-screen">
      <div class="form p-10">
        <form
          action="/edit/<%= val%>"
          method="post"
        >
          <input
            type="text"
            placeholder="Title"
            class="block px-5 -y-2 bg-zinc-800 w-full text-white rounded-md"
            name="title"
          />
          <textarea
            placeholder="description"
            class="block px-5 -y-2 bg-zinc-800 w-full mt-5 resize-none text-white rounded-md"
            name="details"
            id=""
          ></textarea>
          <input
            type="submit"
            class="mt-5 bg-blue-900 text-white rounded-md px-2 py-2"
            value="Create task"
          />
        </form>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
