<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="/stylesheets/styles.css"
    />
  </head>
  <body>
    <div class="main w-full bg-zinc-900 min-h-screen p-10">
      <a
        href="/"
        class="text-blue-900"
        >Go To Home</a
      >
      <h1 class="mt-5 text-4xl text-white"><%= filename%></h1>
      <p class="mt-5 text-white"><%= filedata%></p>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
