<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../public/stylesheets/style.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-900 p-10 text-white">
      <div class="w-full flex justify-end">
        <a
          href="/"
          class="text-sm bg-red-500 rounded-md px-3 py-2 mb-5 inline-block"
          >Logout</a
        >
      </div>

      <h5 class="mb-5">Edit your post</h5>
      <form
        action="/update/<%= post._id%>"
        method="post"
      >
        <textarea
          placeholder="What's on your mind ?"
          class="block w-1/2 h-20 resize-none p-3 bg-zinc-700 mb-5 rounded-md"
          name="content"
        >
<%= post.content%></textarea
        >
        <input
          class="px-3 py-2 text-sm bg-yellow-500 text-black block mb-5 rounded-lg"
          type="submit"
          value="Update post"
        />
      </form>
    </div>

    <script src="../public/javascripts/index.js"></script>
  </body>
</html>
