<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../public/stylesheets/style.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-900 p-10 text-white">
      <h1 class="text-3xl font-blod mb-4">upload File</h1>
      <form
        action="/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <input
          class="block px-5 py-2 mb-5"
          type="file"
          name="image"
          placeholder="Enter your image"
        />
        <input
          class="block p-2 bg-blue-900 rounded-lg mb-5"
          type="submit"
          value="upload file"
        />
      </form>
    </div>

    <script src="../public/javascripts/index.js"></script>
  </body>
</html>
