<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="/stylesheets/styles.css"
    />
  </head>
  <body>
    <div class="main w-full bg-zinc-900 min-h-screen p-10">
      <a
        href="/"
        class="text-blue-900"
        >Go To Home</a
      >
      <div class="form p-10">
        <form
          action="/edit"
          method="post"
        >
          <input
            type="text"
            placeholder="Prevous Name"
            class="block px-5 -y-2 bg-zinc-800 w-full text-white rounded-md mt-5"
            value="<%= filename %>"
            name="prevousname"
          />
          <input
            type="text"
            placeholder="New"
            class="block px-5 -y-2 bg-zinc-800 w-full text-white rounded-md mt-5"
            name="newname"
          />
          <input
            type="submit"
            class="mt-5 bg-yellow-900 text-white rounded-md px-2 py-2"
            value="Update task"
          />
        </form>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
